# MongoDB connection string (local or Atlas)
MONGO_URI=mongodb://strioathi6416_db_user:6PQBBhZW6B7Xy4H8@ac-jqtechy-shard-00-00.x01g5eb.mongodb.net:27017,ac-jqtechy-shard-00-01.x01g5eb.mongodb.net:27017,ac-jqtechy-shard-00-02.x01g5eb.mongodb.net:27017/?ssl=true&replicaSet=atlas-126nin-shard-0&authSource=admin&appName=Cluster0

# Port the Express server will listen on
PORT=5000

# Comma-separated list of allowed CORS origins (your frontend URL)
CLIENT_ORIGIN=http://localhost:5173


# strioathi6416_db_user
# 6PQBBhZW6B7Xy4H8

# mongodb://strioathi6416_db_user:6PQBBhZW6B7Xy4H8@ac-jqtechy-shard-00-00.x01g5eb.mongodb.net:27017,ac-jqtechy-shard-00-01.x01g5eb.mongodb.net:27017,ac-jqtechy-shard-00-02.x01g5eb.mongodb.net:27017/?ssl=true&replicaSet=atlas-126nin-shard-0&authSource=admin&appName=Cluster0

# mongodb+srv://strioathi6416_db_user:6PQBBhZW6B7Xy4H8@cluster0.x01g5eb.mongodb.net/?appName=Cluster0